<h1>Ruby Woodstock Flooring, Inc.</h1>

<h5>Sells nothing but wood flooring and is a major destination for anyone looking for wide-plank wood. Ruby Woodplank is the third generation of the wood powerhouse, formerly known as Woodplank Frank's, lined with racks of hardwoods from dark wengé to honey-toned oak. Wide-board flooring is speciality for Ruby in many varieties of wood, like French oak, used for the floors at Versailles. Ruby is also a renowned specialist in contemporary, aged and reclaimed floor boards. Reclaimed floors with a story and a mission. Handcrafted by the Amish People from Pennsylvania, USA. Projects: The penthouse of Lenny Kravitz in New York; Gwyneth Paltrow London, and close to home; the Dylan Hotel and the Van Gogh Museum in Amsterdam.</h5>
