<div id="about">

    <h1>About us...</h1>

    <h5 class="about-us">Ruby Woodstock Flooring sells nothing but the finest in wood flooring and is a major destination for anyone looking for wide-plank wood. Ruby Woodplank is the third generation of the wood powerhouse, formerly known as Woodplank Frank's, lined with racks of hardwoods from dark wengé to honey-toned oak. Wide-board flooring is speciality for Ruby in many varieties of wood, like French oak, used for the floors at Versailles. Ruby is also a renowned specialist in contemporary, aged and reclaimed floor boards. Reclaimed floors with a story and a mission. Handcrafted by the Amish People from Pennsylvania, USA.</h5> 

    <h5>Projects: The penthouse of Lenny Kravitz in New York; Gwyneth Paltrow London, and close to home; the Dylan Hotel and the Van Gogh Museum in Amsterdam.</h5>

    <hr>

</div>

<div id="about-images">

    <img class="about" src="https://images.unsplash.com/photo-1524633809302-94671c5a542e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98ab980ca290fc575c5afdbdaecdfe0f&auto=format&fit=crop&w=1600&q=80">

    <img class="about" src="https://images.unsplash.com/photo-1525097487452-6278ff080c31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbb3f9e6e790a507d625e22273a4e8fd&auto=format&fit=crop&w=802&q=80">

</div>
