<h1>Welcome to Ruby Woodstock's Flooring, Inc.</h1>

<h3>Home of the exclusive Glossimus Prime Wood Plank</h3>

<div id="container">
    <div class="row-home">
        <img src="https://images.unsplash.com/photo-1521503862198-2ae9a997bbc9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd180d123f5a072662e6f1cfb64bbde3&auto=format&fit=crop&w=634&q=80">    

        <img src="https://images.unsplash.com/photo-1508392196713-1391ddb22a2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2d8de5501579c2794aa2f256c18a3e7&auto=format&fit=crop&w=1050&q=80"> 

        <img src="https://images.unsplash.com/photo-1518710360638-d36af72062d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=491f18f4383aa9ff189ed26674e28c69&auto=format&fit=crop&w=1050&q=80"> 
    </div>
</div>
