<div id="success">

<h1>Success!!!</h1>

    <h4>Your message has been sent. A specialist will contact you as soon as possible. Thank you!</h4>

    <h4>Your full name is: </h4> <h4 class="from"> <%= @from %> </h4>
    <h4>You sent this message to: </h4> <h4 class="to"> <%= @to %> </h4>
    <h4>Your subject is: </h4> <h4 class="subject"> <%= @subject %> </h4>
    <h4>Your original message is:  </h4> <h4 class="message"> <%= @message %> </h4>

</div>
