<div id="success">

<h1>Success...</h1>

    <h4>Your message has been sent. A specialist will contact you as soon as possible. Thank you!</h4>

    <h4>Sent from: </h4> <h4 class="from"> <%= @fname + ' ' + @lname%> </h4>
    <h4>Country of origin: </h4> <h4 class="country"> <%= @country %> </h4>
    <h4>Subject: </h4> <h4 class="subject"> <%= @subject %> </h4>
    <h4>Message to RWS: </h4> <h4 class="message"> <%= @message %> </h4>

</div>
